@import "tailwindcss";

@theme {
  --color-brand-blue: #0889CC;
  --color-brand-dark: #f3f4f6; /* Inverted for dark theme text */
  --color-brand-sky: #21BDEB;
  --color-brand-green: #88BE2A;
  
  --font-montserrat: var(--font-montserrat), sans-serif;
}

body {
  font-family: var(--font-montserrat), sans-serif;
  background-color: #121212;
  color: #f3f4f6;
  color-scheme: dark;
}