@import "tailwindcss";

@theme {
  --color-brand-blue: #0889CC;
  --color-brand-dark: #1E1E1E;
  --color-brand-sky: #21BDEB;
  --color-brand-green: #88BE2A;
  
  --font-montserrat: var(--font-montserrat), sans-serif;
}

body {
  font-family: var(--font-montserrat), sans-serif;
  background-color: #ffffff;
  color: #1E1E1E;
}